################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/aspGit
/Complete guide to ASP.NET Core MVC (.NET 6)
/front-end/feedback/package.json
/front-end
/MODEROB
/ndoe
/NonGit/.vs
*.pdf
/aspFiles.lnk
/desktop.ini
/NatoursApp
/.vs
