################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookApp/.vs/BookApp
/BookApp/BookApp/bin/Debug/net6.0
/BookApp/BookApp/obj
