@model IEnumerable<BookModel>;
@{
    ViewData["Title"] = "GetAllBooks";
}

@foreach (var book in Model)
{
    @*<div class="card" style="width: 20rem;">

    </div>*@
    <section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <div class="card-body">
                <h5 class="card-title">@book.Title</h5>
                    <p class="card-text">@book.Description.</p>
                <a href="/book/getbook/@book.Id" class="btn btn-primary">View More Detail</a>
                <small class="text-muted">@book.Author</small>
            </div>
        </div>
    </div>
</section>
}




